In [54]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import os
import glob

%run "Fonctions.ipynb"

In [245]:
all_txts = find_all_extension('../Millau/Resultats/*', '.txt')

txts = []
for txt in all_txts:
    data = []
    with open(txt, 'r') as f:
        for line in f:
            data.append(line.split())
    txts.append(data)

In [138]:
pd.DataFrame(test).columns

RangeIndex(start=0, stop=12, step=1)

In [141]:
df = pd.DataFrame()
test_ = pd.DataFrame(test[1:], columns=test[0]).astype('float64')
for col in test_.columns:
    sub = test_[col].sort_values(ascending=False)
    df[col] = pd.concat([sub.head(10), sub.tail(10)], axis=0).reset_index(drop=True)

In [37]:
data = []
with open('../Millau/Resultats/2017-06-20-hh-mm-ss/2017-06-20-00-mm-ss/2017-06-20-00-03-34-150-weigh.txt', 'r') as f:
        for line in f:
            data.append(line.split())
df = pd.DataFrame(data[1:], columns=data[0]).astype('float64')

In [38]:
df.describe()

,t,A01:sig,A02:1sig',A03:1sum,A04:1diff,A05:1ax1,A06:1ax2,A07:1ax3,A08:1ax4,A09:1ax5,D10:on,D11:ax
count,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.000000,2667.00000
mean,2.603516,0.017199,0.003118,0.005619,-0.002501,0.001318,0.001446,0.001024,0.000966,0.000865,0.357705,0.00375
std,1.503986,0.083773,0.082044,0.081539,0.007391,0.044798,0.049141,0.034814,0.032819,0.029403,0.479415,0.06113
min,0.000000,-0.192877,-0.198401,-0.185767,-0.037224,-0.073987,-0.081160,-0.057498,-0.054202,-0.048562,0.000000,0.00000
25%,1.301755,-0.009128,-0.001971,0.000000,-0.001149,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,2.603520,0.007558,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,3.905275,0.039186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
max,5.207030,0.448694,0.441605,0.447982,0.025884,0.373433,0.409639,0.290210,0.273576,0.245107,1.000000,1.00000

In [40]:
millau = pd.read_csv('../Millau/Resultats/Fichiers Excel/conso_millau.csv', sep=';')

In [53]:
millau

,Date,Voie,Vitesse (m.s-1),Vitesse (km/h),Nombre d'essieu,Classe,Groupe essieu,Poids total,Poids Essieu 1,Poids Essieu 2,...,Unnamed: 26,Unnamed: 27,Poids total.1,Poids Essieu 1.1,Poids Essieu 2.1,Poids Essieu 3.1,Poids Essieu 4.1,Poids Essieu 5.1,Poids Essieu 6.1,Poids Essieu 7.1
0,2016-10-11-18-03-58-076,1,"23,0631","83,02716",2,40,11,16,"4,1","11,9",...,"83,02716",NaN,"156,802","40,5305","116,272",NaN,NaN,NaN,NaN,NaN
1,2016-10-11-18-04-04-365,1,"26,3918","95,01048",2,41,11,"10,6","2,2","8,4",...,"95,01048",NaN,"104,328","21,7578","82,5705",NaN,NaN,NaN,NaN,NaN
2,2016-10-11-18-08-25-205,1,"23,0631","83,02716",3,100,111,"11,5",4,"3,6",...,"83,02716",NaN,"112,448","39,4807","35,0648","37,9023",NaN,NaN,NaN,NaN
3,2016-10-11-18-10-32-003,1,"23,0631","83,02716",5,81,122,"18,2","2,4","3,4",...,"83,02716",NaN,"178,729","24,0199","33,1904","33,1904","44,1643","44,1643",NaN,NaN
4,2016-10-11-18-12-37-736,1,"22,4561","80,84196",4,58,13,"23,9","8,4","5,2",...,"80,84196",NaN,"234,196","82,0842","50,704","50,704","50,704",NaN,NaN,NaN
5,2016-10-11-18-13-34-673,1,"23,2727","83,78172",4,58,13,"9,7","3,7",2,...,"83,78172",NaN,"94,9994","35,9024","19,699","19,699","19,699",NaN,NaN,NaN
6,2016-10-11-18-17-02-841,1,"26,6667","96,00012",2,41,11,"12,9","3,2","9,7",...,"96,00012",NaN,"126,341","31,3856","94,955",NaN,NaN,NaN,NaN,NaN
7,2016-10-11-18-20-25-447,1,"23,2727","83,78172",5,113,113,"8,9","1,5","2,2",...,"83,78172",NaN,"87,387","14,4469","22,0508","16,9631","16,9631","16,9631",NaN,NaN
8,2016-10-11-18-23-00-843,1,"25,098","90,3528",5,113,113,"9,6","1,1","4,7",...,"90,3528",NaN,"94,1252","10,847","46,116","12,3874","12,3874","12,3874",NaN,NaN
9,2016-10-11-18-23-28-623,1,"23,2727","83,78172",5,110,113,30,"1,2","6,6",...,"83,78172",NaN,"294,542","11,3349","64,4055","72,9338","72,9338","72,9338",NaN,NaN
10,2016-10-11-18-25-33-734,1,"23,0631","83,02716",5,113,113,"34,8","3,4","7,4",...,"83,02716",NaN,"340,973","33,4116","72,2316","78,4434","78,4434","78,4434",NaN,NaN
11,2016-10-11-18-26-52-876,1,"23,4862","84,55032",4,61,112,"26,7","1,9","12,6",...,"84,55032",NaN,"262,318","18,9482","123,27","60,0497","60,0497",NaN,NaN,NaN
12,2016-10-11-18-30-42-611,1,"23,4862","84,55032",2,40,11,"4,9",1,4,...,"84,55032",NaN,"48,5573","9,4106","39,1467",NaN,NaN,NaN,NaN,NaN
13,2016-10-11-18-37-29-662,1,"29,4253","105,93108",2,30,11,"1,5","0,4",1,...,"105,93108",NaN,"14,3611","4,24581","10,1153",NaN,NaN,NaN,NaN,NaN
14,2016-10-11-18-42-19-462,1,"25,3465","91,2474",5,113,113,"24,8","3,6","10,6",...,"91,2474",NaN,"242,874","34,9257","103,597","34,7839","34,7839","34,7839",NaN,NaN
15,2016-10-11-18-42-36-044,1,"24,381","87,7716",2,40,11,"11,2","3,3","7,9",...,"87,7716",NaN,"109,98","32,4107","77,5697",NaN,NaN,NaN,NaN,NaN
16,2016-10-11-18-47-29-914,1,"22,2609","80,13924",3,100,111,"15,5","0,6","14,5",...,"80,13924",NaN,"151,654","5,76341","142,621","3,26949",NaN,NaN,NaN,NaN
17,2016-10-11-18-51-22-947,1,"23,9252","86,13072",4,61,112,"23,8","3,2","13,9",...,"86,13072",NaN,"233,33","31,2308","135,955","33,0722","33,0722",NaN,NaN,NaN
18,2016-10-11-18-52-13-900,1,"23,4862","84,55032",4,61,112,"22,7","2,3","14,6",...,"84,55032",NaN,"223,039","22,8569","143,373","28,4042","28,4042",NaN,NaN,NaN
19,2016-10-11-18-52-22-689,1,"23,2727","83,78172",4,61,112,"25,1","0,7","11,1",...,"83,78172",NaN,"246,404","6,71801","109,095","65,2953","65,2953",NaN,NaN,NaN
20,2016-10-11-18-52-26-689,1,"24,1509","86,94324",4,140,112,"15,4","5,4","3,9",...,"86,94324",NaN,"151,339","52,5554","38,3973","30,193","30,193",NaN,NaN,NaN
21,2016-10-11-18-52-43-892,1,"23,2727","83,78172",5,111,113,"19,5","1,8","12,4",...,"83,78172",NaN,"191,268","17,778","121,179","17,437","17,437","17,437",NaN,NaN
22,2016-10-11-19-00-34-664,1,"22,4561","80,84196",2,41,11,19,"9,1","9,9",...,"80,84196",NaN,"186,777","89,5489","97,2281",NaN,NaN,NaN,NaN,NaN
23,2016-10-11-19-01-37-851,1,"28,4444","102,39984",2,40,11,"3,8","1,2","2,6",...,"102,39984",NaN,"36,8081","11,3734","25,4347",NaN,NaN,NaN,NaN,NaN
24,2016-10-11-19-01-52-156,1,"25,8586","93,09096",5,113,113,"21,1",0,"17,2",...,"93,09096",NaN,"206,817","0,348946","168,683","12,5948","12,5948","12,5948",NaN,NaN
25,2016-10-11-19-03-56-554,1,"25,3465","91,2474",5,113,113,20,"4,9","7,5",...,"91,2474",NaN,"195,781","47,9181","73,8913","24,6573","24,6573","24,6573",NaN,NaN
26,2016-10-11-19-06-30-849,1,"23,0631","83,02716",5,74,113,"34,7",0,"14,5",...,"83,02716",NaN,"340,285","0,329434","141,824","66,0438","66,0438","66,0438",NaN,NaN
27,2016-10-11-19-07-23-044,1,"25,8586","93,09096",5,113,113,"17,6","2,9","10,6",...,"93,09096",NaN,"172,561","28,6878","103,505","13,4561","13,4561","13,4561",NaN,NaN
28,2016-10-11-19-11-38-933,1,"23,9252","86,13072",2,41,11,"14,9","7,3","7,5",...,"86,13072",NaN,"145,74","71,8928","73,8469",NaN,NaN,NaN,NaN,NaN
29,2016-10-11-19-12-57-435,1,"23,2727","83,78172",5,113,113,"23,6","4,7",7,...,"83,78172",NaN,"231,936","46,3551","68,7629","38,9392","38,9392","38,9392",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36883,2016-11-23-15-11-01-027,1,"30,1176","108,42336",5,113,113,"36,9","7,7","12,1",...,"108,42336",NaN,"362,389","75,225","118,955","61,5168","51,7385","54,9533",NaN,NaN
36884,2016-11-23-15-12-01-015,1,"25,6","92,16",2,41,11,16,8,8,...,"92,16",NaN,"157,032","78,0835","78,949",NaN,NaN,NaN,NaN,NaN
36885,2016-11-23-15-13-21-568,1,"24,381","87,7716",5,74,113,"46,2","7,4",14,...,"87,7716",NaN,"453,356","72,5309","137,318","89,5075","74,6134","79,3855",NaN,NaN
36886,2016-11-23-15-15-17-263,1,"26,6667","96,00012",4,62,1111,"18,9","5,2","7,6",...,"96,00012",NaN,"185,809","51,4376","74,3695","29,9119","30,09",NaN,NaN,NaN
36887,2016-11-23-15-17-00-062,1,"26,6667","96,00012",5,113,113,"44,3","7,3","14,2",...,"96,00012",NaN,"434,774","71,7077","139,36","81,4137","69,8229","72,4695",NaN,NaN
36888,2016-11-23-15-17-01-582,2,"32,8205","118,1538",2,30,11,"0,8","0,7","0,1",...,"118,1538",NaN,"8,11062","6,6612","1,44942",NaN,NaN,NaN,NaN,NaN
36889,2016-11-23-15-17-03-060,2,"32,8205","118,1538",2,30,11,"1,8","1,1","0,7",...,"118,1538",NaN,"17,8482","10,692","7,1562",NaN,NaN,NaN,NaN,NaN
36890,2016-11-23-15-17-07-853,1,"26,6667","96,00012",4,61,112,"18,8","5,4","7,2",...,"96,00012",NaN,"184,086","52,7924","70,2078","37,4621","23,6234",NaN,NaN,NaN
36891,2016-11-23-15-18-10-208,1,"26,6667","96,00012",5,74,113,"27,5","6,3",8,...,"96,00012",NaN,"270,164","61,7313","78,9068","48,5749","40,761","40,1896",NaN,NaN
36892,2016-11-23-15-18-28-267,1,"27,234","98,0424",4,61,112,"26,3","6,2",10,...,"98,0424",NaN,"258,183","61,2921","98,2024","58,0378","40,6509",NaN,NaN,NaN
36893,2016-11-23-15-18-49-449,1,"23,4862","84,55032",4,61,112,"23,5","5,5","10,8",...,"84,55032",NaN,"230,756","53,9656","106,105","40,2359","30,4503",NaN,NaN,NaN
36894,2016-11-23-15-20-00-396,1,"27,5269","99,09684",5,74,113,"21,3","5,7","6,9",...,"99,09684",NaN,"209,296","55,4354","68,1444","28,3064","35,1311","22,2782",NaN,NaN
36895,2016-11-23-15-24-02-962,1,"28,4444","102,39984",5,74,113,"32,5","5,9",10,...,"102,39984",NaN,"319,101","57,9801","97,8331","17,2139","71,9747","74,0997",NaN,NaN
36896,2016-11-23-15-24-52-009,1,"29,0909","104,72724",5,74,113,"25,1","6,4","7,5",...,"104,72724",NaN,"246,202","62,9248","73,9207","37,7099","32,4299","39,2168",NaN,NaN
36897,2016-11-23-15-27-17-976,1,"25,098","90,3528",5,113,113,38,"6,2","10,5",...,"90,3528",NaN,"372,757","60,5783","102,897","68,6335","78,6178","62,0306",NaN,NaN
36898,2016-11-23-15-30-04-767,1,"26,1224","94,04064",5,74,113,"27,9","6,2","8,5",...,"94,04064",NaN,"273,651","60,4177","83,8372","49,3723","41,6174","38,4066",NaN,NaN
36899,2016-11-23-15-30-22-144,1,"30,4762","109,71432",5,74,113,"42,3","7,1","11,8",...,"109,71432",NaN,"414,509","69,9035","115,317","93,7777","57,7394","77,772",NaN,NaN
36900,2016-11-23-15-31-16-287,1,"27,8261","100,17396",2,40,11,"3,6","1,6",2,...,"100,17396",NaN,"35,0093","15,485","19,5243",NaN,NaN,NaN,NaN,NaN
36901,2016-11-23-15-31-18-119,1,"27,8261","100,17396",5,74,113,"31,3","6,2","9,9",...,"100,17396",NaN,"307,445","60,8478","96,752","54,9501","50,5266","44,3681",NaN,NaN
36902,2016-11-23-15-32-19-214,1,"26,3918","95,01048",5,113,113,"45,5","7,7","11,7",...,"95,01048",NaN,"446,665","75,7669","114,51","98,6579","61,4673","96,2633",NaN,NaN
36903,2016-11-23-15-32-28-412,1,"26,1224","94,04064",5,70,1112,"38,5","8,3","12,4",...,"94,04064",NaN,"377,687","81,0019","121,662","110,4","40,2428","24,3803",NaN,NaN
36904,2016-11-23-15-33-32-410,1,"26,1224","94,04064",5,113,113,"43,6","7,5","11,8",...,"94,04064",NaN,"427,368","73,1433","115,81","80,1361","85,9313","72,3466",NaN,NaN
36905,2016-11-23-15-34-03-007,1,"31,6049","113,77764",2,30,11,"2,6","1,5","1,1",...,"113,77764",NaN,"25,6663","14,4214","11,2449",NaN,NaN,NaN,NaN,NaN
36906,2016-11-23-15-35-27-197,1,"23,7037","85,33332",5,113,113,"43,1","7,2","12,9",...,"85,33332",NaN,"422,553","70,9783","126,486","82,561","76,8854","65,642",NaN,NaN
36907,2016-11-23-15-35-41-496,1,"26,1224","94,04064",4,61,112,"21,5","5,5","6,5",...,"94,04064",NaN,"211,332","53,9433","63,889","52,4243","41,0753",NaN,NaN,NaN
36908,2016-11-23-15-37-30-167,1,"27,5269","99,09684",5,74,113,"41,1","6,4","12,2",...,"99,09684",NaN,"403,597","62,9152","119,457","90,952","52,0449","78,2276",NaN,NaN
36909,2016-11-23-15-37-59-099,1,"26,9474","97,01064",4,61,112,"30,2","6,2","8,6",...,"97,01064",NaN,"296,445","60,3396","84,2498","34,9233","116,932",NaN,NaN,NaN
36910,2016-11-23-15-38-31-517,1,"25,3465","91,2474",5,81,122,"19,6","4,9",8,...,"91,2474",NaN,"192,391","48,3964","78,6506","5,95577","35,0168","24,3714",NaN,NaN
36911,2016-11-23-15-38-55-480,1,"27,8261","100,17396",6,84,123,"31,5","5,5","2,8",...,"100,17396",NaN,"308,818","53,9693","27,2216","48,6758","63,7693","56,6903","58,4917",NaN
36912,2016-11-23-15-39-21-753,1,"29,7674","107,16264",2,40,11,"8,7","5,3","3,4",...,"107,16264",NaN,"85,274","52,3229","32,9511",NaN,NaN,NaN,NaN,NaN